.mat-card-image2 {
    margin   : 10px 30px 0px 10px;
    float    : right;
    max-width: 50px;
    width    : 100%;
    height   : auto;

}

ul li {
    list-style: none;
}

.example-icon {
    background-color: transparent;
    margin-right    : 8px;
    display         : block;
    border-radius   : 0%;
}

.material-icons {
    vertical-align: middle;
}

.icon-style {
    margin-right: 15px;
    font-size   : 25px;
}

p-avatar {
    border-radius: 50%;
}

a {
    text-decoration-line: none;
    color               : black;
}

a:hover {
    background-color: rgb(248, 248, 242);
    border          : 1px solid rgb(233, 224, 224);
}

:host ::ng-deep .p-toolbar {
    padding: 0%;
}

:host ::ng-deep .p-card {
    box-shadow: unset;
}