<mat-toolbar color="primary">
    <mat-toolbar-row>
        <button mat-icon-button class="example-icon">
            <!-- <button mat-icon-button style="background-color: transparent;"> -->
            <mat-icon>menu</mat-icon>
        </button>
        <span>
            Lixer Logo
            <!-- <img mat-card-avatar
                src="https://res.cloudinary.com/lixerpro/image/upload/c_scale,w_219/v1616428388/Images/Logo/WhatsApp_Image_2021-03-10_at_17.39.41_a9czbm.jpg"
                alt="Lixer Logo" /> -->
        </span>
        <div>
            <ul fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="end start">
                <li>
                    <button mat-icon-button class="example-icon">
                        <mat-icon>settings</mat-icon>
                    </button>
                </li>
                <li>
                    <button mat-icon-button class="example-icon help-icon">
                        <mat-icon>help</mat-icon>
                    </button>
                </li>
                <li>
                    <button mat-icon-button class="example-icon favorite-icon" aria-label="icon-button with heart icon">
                        <mat-icon>favorite</mat-icon>
                    </button>

                </li>
                <li>
                    <button mat-icon-button class="example-icon" aria-label="icon-button with share icon">
                        <mat-icon>share</mat-icon>
                    </button>

                </li>
                <li>
                    <button mat-button [matMenuTriggerFor]="menu" class="example-icon">
                        <mat-icon>person_outline</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item>
                            <mat-icon>exit_to_app</mat-icon>
                            Sign out
                        </button>
                    </mat-menu>
                </li>
            </ul>

        </div>
        <!-- <mat-icon aria-hidden="false" aria-label="heart icon">favorite</mat-icon>
        <mat-icon aria-hidden="false" aria-label="delete icon">delete</mat-icon> -->
    </mat-toolbar-row>
</mat-toolbar>