<mat-toolbar>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>I am Ghazaleh, A Passionate Python Developer</span>
    <span class="example-spacer"></span>
  </mat-toolbar>
  <br>
  <br>
  <div class="bg-primary">
  
    <h3 class="bg-primary"> Dashboard</h3>
    <br>
    <p> I am interested in applied ML and AI in control and automated systems, looking for a master position or an internship. <br>  I am currently learning Python, ML/AI, \n All of my projects are available @Hadian1989
      <br> If I can help you, please do not hesitate to contact me by the following link</p>
  
  </div>  
