<mat-card class="example-card">
  <mat-toolbar>
  </mat-toolbar>
  <span>I am Ghazaleh, A Passionate Python Developer</span>
  <span class="example-spacer"></span>
  <br>
  <div>
    <h3> About Ghazaleh</h3>
    <br>
    <span> I am interested in applied ML and AI in control and automated systems, looking for a master position or an
      internship. <br> I am currently learning Python, ML/AI, \n All of my projects are available @Hadian1989
      <br> If I can help you, please do not hesitate to contact me by the following link</span>
      
    </div>
  </mat-card>